<article class="resort">
  <div class="resort-title">
    <a href="{{resort.resort_content}}" target="_blank">{{resort.resort_title}}</a>
    <span>({{resort.resort_content}})</span>
  </div>
  <div class="meta">
    {{!-- {{post.vote_count}} point(s) by {{post.user.username}} on
    {{post.created_at}}
    | --}}
    <a href="/resort/{{resort.id}}">{{resort.reviews.length}} reviews(s)</a>
  </div>
</article>