<div class="resort-list">
        <section class="resorts">
            <h2 class="">Alta Ski Area</h2>
            <div class="title">
              
                <p class="">{{title}}</p>
                <p class=""{{content}}></p>
             
            </div>
            <div>
                {{!-- <a href="/comment/{{id}}" class="">{{reviews.length}} {{format_plural "review" reviews.length}}</a> --}}
            </div>
        </section>
</div>
<script src="/javascript/resorts.js"></script>