<article class="resort">
    <div class="title">
        <a href="{{resort.resort_content}}" target="_blank">{{resort.resort_title}}</a>
        <p>({{resort.resort_content}})</p>
    </div>
    <div class="meta">
        Vote 
    <a href="'/resort/{{resort.id}}">{{resort.reviews.length}} review(s)</a>
    </div>
</article>